@page
@model Retailio.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Customer Management";
}

@section Styles {
    <link rel="stylesheet" href="~/css/customer/index.css" asp-append-version="true" />
}




<div class="dashboard-panel">
    <component type="typeof(Retailio.backend.Components.Customer.CustomerForm)" render-mode="ServerPrerendered" param-UserName="@Model.UserName" param-UserId="@Model.UserId" param-CanCreate="@Model.CanCreate" param-CanEdit="@Model.CanEdit" param-CanDelete="@Model.CanDelete" />
</div>

@section Scripts {
    @* Additional scripts if needed *@
}
